/* Element 变量 */
$--color-primary: #88abda;
$--color-success: #87CB16;
$--color-warning: #FFA534;
$--color-danger: #FB404B;
$--color-info: #0033FF;
$--color-kubepi: #deecf9;

$--box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, .14);

$--color-text-primary: #3c4858;
$--color-bg-primary: #fff;


/* layout */
$layout-bg-color: #edf1f7;
$layout-container-color: #000; // 菜单激活时项字体颜色
$layout-container-bg-color: #fff; // 菜单激活时项字体颜色


/* sidebar */
$sidebar-open-width: 260px;
$sidebar-close-width: 60px;
$sidebar-bg-color: #ffffff;
$sidebar-bg-gradient: linear-gradient(to bottom right, #ffffff, #ffffff);

/* menu */
$menu-height: 50px; // 菜单项高度
$menu-bg-color: transparent; // 菜单项背景
$menu-bg-color-hover: mix($--color-kubepi, #000, 90%); // 菜单项hover背景
$menu-color: #000000; // 菜单项字体颜色
$menu-open-bg-color: #f5f3f2; // 菜单项展开背景
$menu-active-color: #000000; // 菜单项激活时颜色
$menu-active-bg-color: $--color-primary; // 菜单项激活时背景

$submenu-height: 40px; // 子菜单项高度
$submenu-bg-color-hover: mix($menu-open-bg-color, #000, 80%); // 子菜单项hover背景
$submenu-active-color: $menu-active-color; // 子菜单项激活时颜色
$submenu-active-bg-color: $menu-open-bg-color; // 子菜单项激活时背景

$menu-active-prefix-color: #deecf9; // 菜单激活前缀颜色
$menu-active-prefix-width: 4px; // 菜单激活前缀宽度

/* logo */
$logo-height: 40px;
$logo-bg-color: #4E5051;

/* header */
$header-height: 60px;
$header-padding: 30px;

/* main */
$view-padding: 15px;

/* fit2cloud-ui的variables加载了element-ui的变量 */
@import "~fit2cloud-ui/src/styles/common/variables";

$ko-search-bar-condition-bgColor: #fff;
$--input-placeholder-color: #FFF;
$loading-bg: #ffffff;

:export {
  theme: $--color-primary;
}

#nprogress .bar {
  background: $--color-kubepi !important; //自定义颜色
}






